<div class="card">
  <h2 class="card-header">About page</h2>
  <div class="card-body">
    <h5 class="card-title">Lister is a simple app that allows users to create lists, manage items on their lists and mark lists and list items complete as a user progresses through their list.</h5>
    <p class="card-text">App created by Gabriel Valle</p>
    <%# <a href="#" class="btn btn-primary">Go to Gabriel's portfolio</a> %>
  </div>
</div>